<p>Disables lights around harvestable objects and re-enables them after the object has grown back. Dynamic, compatible with everything. <span class="bold">OpenMW 0.49 or newer required!</span></p>
<p>
  This is intended to be used with <a href="https://www.nexusmods.com/morrowind/mods/46599">Graphic Herbalism - MWSE and OpenMW Edition</a> and other mods which provide assets that utilize the "graphic herbalism" harvesting feature. Supports the latest release of <a href="https://www.tamriel-rebuilt.org/">Tamriel Rebuilt</a>.
</p>
<p>
  Easily extend supported objects and lights via third party mods, see the included example-addon.
</p>
<div class="center">
  <a href="/img/harvest-lights.gif"><img src="/img/harvest-lights.gif" title="A gif of Harvest Lights in action" /></a>
</div>
<h4 id="install">Installation:</h4>
<ol>
    <li>
     <p>
      Download the mod from <a href="https://modding-openmw.gitlab.io/harvest-lights/">this URL</a>
     </p>
    </li>
    <li>
     <p>
      Extract the zip to a location of your choosing, examples below:
     </p>
     <pre><code> # Windows
 C:\games\OpenMWMods\Lighting\harvest-lights

 # Linux
 /home/username/games/OpenMWMods/Lighting/harvest-lights

 # macOS
 /Users/username/games/OpenMWMods/Lighting/harvest-lights
</code></pre>
    </li>
    <li>
     <p>
      Add the appropriate data path to your <code>opemw.cfg</code> file (e.g. <code>data="C:\games\OpenMWMods\Lighting\harvest-lights"</code>)
     </p>
    </li>
    <li>
      <p>
        Add <code>content=harvest-lights.omwscripts</code> to your load order in <code>openmw.cfg</code> or enable it via OpenMW-Launcher
      </p>
    </li>
</ol>
<p>
  Please note that this will not disable lights near objects you've harvested in an existing save (see planned features in <a href="/readme/#planned-features">the README</a>).
</p>
